@keyframes appear {
  from {
    scale: 0.95;
    opacity: 0.25;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .project__cover {
    animation: appear linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
}

.project-buffer {
  padding-bottom: calc(theme("spacing.32") - theme("spacing.14"));

  @screen sm {
    padding-bottom: calc(theme("spacing.64") - theme("spacing.14"));
  }
}

.project:first-child {
  margin-top: calc(theme("spacing.32") * -1);

  @screen sm {
    margin-top: calc(theme("spacing.64") * -1);
  }

  .project__cover {
    animation: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

.project__body a {
  color: theme("colors.white");

  &:hover {
    color: theme("colors.terracotta.200");
  }
}

.project-card p {
  margin-bottom: 0;
}
