@keyframes appear {
  from {
    scale: 0.95;
    opacity: 0.25;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .project__cover {
    animation: appear linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
}

.project__body a {
  color: theme("colors.white");

  &:hover {
    color: theme("colors.terracotta.200");
  }
}

.os__body p {
  margin-bottom: 0;
}
