.card {
  display: flex;
  flex-direction: column-reverse;
  margin-top: theme(space.md);

  /* Make the card wider than the content body so text spans more on mobile */
  margin-right: calc(-1 * theme(space.4));
  margin-left: calc(-1 * theme(space.4));

  border: 1px solid theme(colors.slate.200);
  border-radius: theme(borderRadius.md);

  p:last-child {
    margin-bottom: 0;
  }
}

.image {
  border-radius: theme(borderRadius.md) theme(borderRadius.md) 0 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: theme(space.golden-large);
}

.body {
  padding: theme(space.6);
}

@media screen(sm) {
  .card {
    --img-width: theme(space.golden-small);
    display: grid;
    grid-template-columns: 1fr var(--img-width);
    margin-right: 0;
    margin-left: 0;
  }

  .image {
    border-radius: 0 theme(borderRadius.md) theme(borderRadius.md) 0;
    padding: 0;
  }
}

@media screen(lg) {
  .card {
    --img-width: 50%;
  }

  .body {
    padding: theme(space.8);
  }
}
