@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

body {
  color: theme(colors.moss.900);
  font-size: 1rem;
  font-family: var(--font-sans);
}

/**
Type elements
*/
h1,
h2,
h3,
h4 {
  margin-bottom: 0.25em;
  font-family: var(--font-serif);
}

h1 {
  font-size: theme(fontSize.3xl);
}

h2 {
  font-size: theme(fontSize.2xl);
}

h3 {
  font-size: theme(fontSize.xl);
}

h4 {
  font-size: theme(fontSize.lg);
}

a {
  color: theme(colors.moss.700);
  text-decoration: underline;
  text-decoration-color: theme(colors.moss.500);
}

a:hover {
  color: theme(colors.terracotta);
}

p,
ul,
ol {
  margin-bottom: 1.5rem;
  max-width: 65ch;
  line-height: 1.6rem;
}

li {
  margin-bottom: 0.5rem;
}

/**
Custom utilities
*/
.font-marker {
  font-weight: 300;
  font-family: var(--font-marker);
  font-variation-settings:
    "ital" 1,
    "INFM" 40,
    "BNCE" 10,
    "SPAC" 0;
}

.list-item-marker {
  margin-left: 0.75rem;
  list-style-type: "▹";
  list-style-position: outside;
}

.list-item-marker ::marker {
  color: theme(colors.yellow);
  font-variation-settings: "ital" 0;
}

.list-item-marker li {
  padding-left: 0.5rem;
}

.text-balance {
  text-wrap: balance;
}
