@layer base {
  code {
    font-size: theme(fontSize.sm);
  }

  code:not(pre code) {
    display: inline-block;
    border-radius: theme(borderRadius.sm);
    background-color: theme(colors.slate.100);
    padding: 0 4px;
    color: theme(colors.slate.600);
    font-family: var(--font-mono-handwritten);
  }

  pre {
    box-shadow: theme(boxShadow.DEFAULT);
  }
}
