/* Post permalink */
.post {
  margin-bottom: theme(margin.2xl);

  @screen md {
    font-size: theme(fontSize.lg);
  }

  a {
    transition: all 0.2s ease-in-out;
    color: theme(colors.terracotta.900);
    text-decoration-color: currentColor;
  }

  a:hover {
    text-decoration-thickness: 3px;
  }

  h1 {
    text-wrap: balance;
    max-width: 45ch;
    color: theme(colors.terracotta.800);
    font-size: theme(fontSize.2xl);
    line-height: theme(lineHeight.snug);

    @screen sm {
      font-size: theme(fontSize.3xl);
    }

    @screen md {
      font-size: theme(fontSize.4xl);
    }
  }

  /* Heading preceded by a cover */
  .cover ~ h1 {
    margin-top: 0;
  }

  /* Heading followed by a publish time */
  h1:has(+ .publish-time) {
    margin-bottom: theme(margin.sm);
  }

  .h1,
  .publish-time,
  .cover {
    margin-bottom: theme(margin.md);
  }

  h2 {
    margin-top: theme(margin.lg);
  }

  h3 {
    margin-top: theme(margin.md);
  }

  h2,
  h3,
  h4 {
    color: theme(colors.moss.600);
  }
}

/* Plain Markdown images are in their own <p>, so remove the max-width to allow the image to be wider than prose */
.post p:has(> .post-image) {
  margin: 0;
  max-width: none;
}

.post-image {
  display: block;
  margin: theme(margin.lg) 0;
}

.cover lite-youtube {
  width: 100%;
  max-width: none;
}

.publish-time {
  display: block;
  color: theme(colors.moss.500);
  font-size: theme(fontSize.sm);
  font-family: theme(fontFamily.marker);
}

.post-body {
  p:first-of-type::first-letter {
    font-weight: bold;
    font-family: var(--font-marker);
    initial-letter: 2;
    display: inline-block;
    margin-right: 3px;
  }
}

.post-lists-heading {
  font-size: theme(fontSize.xl);
  font-family: var(--font-marker);
}

.list-article {
  a {
    display: block;
    margin-bottom: theme(margin.md);
    /* border-left: 3px solid theme(colors.slate.200); */
    /* padding-left: theme(margin.sm); */
    text-decoration: none;
  }

  a:hover {
    color: currentColor;

    h2 {
      text-decoration: underline;
    }
  }

  .list-article__title-icon {
    font-family: var(--font-marker);
  }

  a[target="_blank"]:hover {
    h2 {
      text-decoration: none;
    }
    .list-article__external-url {
      background: theme(colors.terracotta.700);
      padding: 0 theme(space.1);
      color: theme(colors.white);
      text-decoration: none;
    }
    .list-article__title-icon {
      color: theme(colors.terracotta.700);
      text-decoration: underline;
      text-decoration-thickness: 5px;
    }
  }

  .list-article__external-url {
    @apply mb-2 inline-block font-mono text-xs font-normal text-slate-800 underline;
    transition: all 0.2s ease-in-out;
  }

  h2 {
    color: theme(colors.terracotta.800);
    font-size: theme(fontSize.xl);
    line-height: theme(lineHeight.tight);
    text-wrap: balance;
    font-weight: bold;
  }

  p {
    margin: 0;
  }
}

.list-article:first-of-type {
  h2 {
    font-size: theme(fontSize.3xl);
  }

  p {
    max-width: theme(maxWidth.prose);
    font-size: theme(fontSize.xl);
  }
}

.posts-illustration {
  position: absolute;
  top: theme(space.sm);
  right: theme(space.md);
  opacity: 0.1;
  z-index: -1;
  mix-blend-mode: multiply;
  height: 250px;
}

.linkroll {
  background: url("/illo-linkroll-50.webp") center center no-repeat
    theme(colors.moss.800);
  background-size: 100% auto;
  background-attachment: fixed;
  background-blend-mode: multiply;
  padding: theme(space.md);
  color: theme(colors.slate.200);

  @screen sm {
    background-position: right bottom;
    background-size: theme(space.golden-small) auto;
    width: theme(space.golden-small);
  }
}

.linkroll-post {
  display: block;
  color: theme(colors.terracotta.300);
  text-wrap: balance;
  margin-bottom: theme(margin.sm);
  line-height: theme(lineHeight.tight);
  text-decoration: none;
}

.linkroll-host {
  display: block;
  color: theme(colors.slate.400);
  font-weight: normal;
  font-size: theme(fontSize.xs);
  font-family: theme(fontFamily.mono);
  text-decoration: underline;
}
