.section-heading {
  font-weight: normal;
  font-size: theme(fontSize.xl);
  font-family: var(--font-marker);
}

.desk-illustration {
  position: absolute;
  top: theme(space.sm);
  right: theme(space.md);
  opacity: 0.1;
  z-index: -1;
  mix-blend-mode: multiply;
  height: 250px;

  @screen 2xl {
    height: 300px;
  }
}

.article {
  display: block;
  margin-bottom: theme(space.md);
  text-decoration: none;

  .article-title__icon {
    font-family: var(--font-marker);
  }

  .article-external-url {
    display: inline-block;
    transition: all 0.2s ease-in-out;
    margin-bottom: theme(space.2);
    color: theme(colors.slate.800);
    font-weight: normal;
    font-size: theme(fontSize.xs);
    text-decoration: underline;
  }

  .article-title {
    color: theme(colors.terracotta.800);
    font-size: theme(fontSize.xl);
    line-height: theme(lineHeight.tight);
    text-wrap: balance;
    font-weight: bold;
  }

  p {
    margin: 0;
    line-height: theme(lineHeight.normal);
  }
}

.article:hover {
  color: currentColor;
}

@media (hover: hover) {
  .article:hover .article-title {
    text-decoration: underline;
  }

  .article[target="_blank"]:hover {
    .article-title {
      text-decoration: none;
    }

    .article-external-url {
      background: theme(colors.terracotta.700);
      padding: 0 theme(space.1);
      color: theme(colors.white);
      text-decoration: none;
    }

    .article-title__icon {
      color: theme(colors.terracotta.700);
      text-decoration: underline;
      text-decoration-thickness: 5px;
    }
  }
}

.linkroll {
  background: url("/illo-linkroll-50.webp") center bottom no-repeat
    theme(colors.moss.800);
  background-size: 125% auto;
  background-attachment: fixed;
  background-blend-mode: multiply;
  padding: theme(space.md) theme(space.sm);
  color: theme(colors.slate.200);

  @screen sm {
    --width: theme(space.golden-small);
    background-position: right bottom;
    background-size: var(--width) auto;
    padding: theme(space.md);
    width: var(--width);
  }
}

.linkroll-link {
  display: block;
  color: theme(colors.terracotta.300);
  text-wrap: pretty;
  margin-bottom: theme(space.sm);
  max-width: 40ch;
  font-size: theme(fontSize.sm);
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.linkroll-link:hover {
  color: currentColor;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.linkroll-link__host {
  display: block;
  color: theme(colors.slate.400);
  font-weight: normal;
  text-decoration: underline;
}
