@media screen(sm) {
  .container {
    display: flex;
  }
}

.hero {
  container-name: video-column;
  container-type: size;
  background: url("/alabama-hills-cover.jpg") no-repeat center center;
  background-size: cover;
  padding-top: theme(space.golden-small);
  width: 100%;
  overflow: hidden;
}

@media screen(sm) {
  .hero {
    position: sticky;
    top: 0;
    padding-top: 0;
    width: theme(space.golden-small);
    height: 100vh;
  }
}

/* Apply tint on top of video */
.hero::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  mix-blend-mode: hard-light;
  background-color: theme(colors.terracotta.700);
  width: 100%;
  height: 100%;
  content: "";
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: none;
  max-height: 100%;
}

@container video-column (min-aspect-ratio: 1303/978) {
  .video {
    top: 66%; /* vertically align myself */
    transform: translateX(-50%) translateY(-50%) scale(1.6);
    max-width: 100%;
    max-height: none;
  }
}

.body a {
  text-decoration: dotted underline;
}

.body a:hover {
  text-decoration: solid underline;
}

.link-list {
  text-wrap: balance;
}

.link-list li {
  display: inline;
}

.link-list a {
  display: inline-block;
  padding: theme(spacing.1);
}
