.container {
  min-height: 100%;

  @media screen(sm) {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: theme(space.golden-small) theme(space.golden-large);
    grid-template-areas:
      "hero header"
      "hero main"
      "hero footer";
  }

  > *:not(.hero) {
    padding-inline: theme(spacing.sm);

    @media screen(sm) {
      padding-inline: theme(spacing.md);
    }

    @media screen(md) {
      padding-inline: theme(spacing.lg);
    }
  }
}

.hero {
  position: relative;
  grid-area: hero;
  background: url("/alabama-hills-cover.webp") no-repeat center center;
  background-size: cover;
  padding-top: theme(space.golden-small);
  overflow: hidden;

  @media screen(sm) {
    padding-top: 0;
  }

  video {
    position: absolute;
    transform: scale(1.6);
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 40%;

    @media screen(sm) {
      transform: none;
      object-position: center;
    }
  }

  /* Apply tint on top of video */
  &::after {
    display: block;
    position: absolute;
    opacity: 0.1;
    mix-blend-mode: hard-light;
    inset: 0;
    background-color: theme(colors.terracotta.700);
    content: "";
  }
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  margin-bottom: theme(space.lg);
}

.footer {
  grid-area: footer;
}
