@import url("vars.css");
@import url("reset.css");
@import url("fonts.css");

/**
 * **********************************
 * Base
 * **********************************
 */
body {
  background: #fff;
  color: #0a0a0a;
  font-family: "Inter", "Helvetica", sans-serif;
  font-size: var(--font-size--body);
  font-weight: var(--font-weight--normal);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  body {
    font-size: var(--font-size--body-mobile);
  }
}

/* Small all-caps */
.heading {
  font-weight: 900;
  font-size: 11px;
  letter-spacing: 0.255em;
  text-align: center;
  text-transform: uppercase;
}

a {
  color: #4150f2;
}

.lead {
  font-size: var(--font-size--large);
}

/**
 * **********************************
 * Layout
 * **********************************
 */
.wrap {
  max-width: 800px;
  margin: auto;
  width: 95%;
}

/**
 * **********************************
 * Project listing
 * **********************************
 */
.project {
  margin-bottom: var(--gutter--large);
}

.project__title {
  font-weight: var(--font-weight--bold);
}

.project__title,
.project__subtitle {
  font-size: var(--font-size--large);
}

@media (max-width: 600px) {
  .project__title,
  .project__subtitle {
    font-size: var(--font-size--large-mobile);
  }
}

.project__body {
  background-color: #f2f2f2;
  border-radius: var(--radius--large);
  margin-bottom: var(--gutter);
  padding: calc(var(--radius--large) + var(--spacer));
}

@media (max-width: 600px) {
  .project__body {
    border-radius: var(--radius--small);
    padding: var(--radius--small);
  }
}

.project__details {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  grid-column-gap: var(--gutter);
  grid-row-gap: var(--gutter);
}

.project__details__col {
  background-color: #f2f2f2;
  border-radius: var(--radius--small);
  font-size: var(--font-size--small);
  padding: calc(var(--radius--small) + var(--spacer));
}

.project__body p {
  margin: calc(var(--spacer) * 2) 0;
}

.project__body p:last-child {
  margin-bottom: 0;
}

.project__links__heading {
  margin-bottom: var(--gutter--small);
  margin-top: var(--gutter--medium);
}

.project__links {
  list-style: none;
  padding: 0;
  text-align: center;
}

.project__links li {
  display: inline;
}

.project__link {
  border: 3px solid currentColor;
  border-radius: var(--radius--small);
  display: inline-block;
  margin: var(--spacer);
  padding: var(--spacer) calc(var(--spacer) * 2);
  text-decoration: none;
}

.project__link:hover {
  text-decoration: underline;
}

/**
 * **********************************
 * Project-specific styling
 * **********************************
 */

/* CMS Design System */
.project--cms-ds .project__body {
  background: var(--color--cms-ds-darker);
  color: #fff;
}

.project--cms-ds .project__body a {
  color: #fff;
}

.project--cms-ds .project__links__heading,
.project--cms-ds .project__link {
  color: var(--color--cms-ds);
}

.project--cms-ds .project__link:hover {
  color: var(--color--cms-ds-darker);
}

/* HealthCare.gov */
.project--hcgov .project__body {
  background: var(--color--hcgov-darker);
  color: #fff;
}

.project--hcgov .project__links__heading,
.project--hcgov .project__link {
  color: var(--color--hcgov);
}

.project--hcgov .project__link:hover {
  color: var(--color--hcgov-darker);
}

/* Highlights */
.project--highlights .project__body {
  background: var(--color--highlights);
  color: #fff;
}

.project--highlights .project__body a {
  color: #fff;
}

.project--highlights .project__links__heading,
.project--highlights .project__link {
  color: var(--color--highlights);
}

.project--highlights .project__link:hover {
  color: var(--color--highlights-darker);
}

/* Vermont */
.project--vermont .project__title,
.project--vermont .project__subtitle,
.project--vermont .project__links__heading,
.project--vermont .project__link {
  color: var(--color--vermont);
}

.project--vermont .project__link:hover {
  color: var(--color--vermont-darker);
}

.project--vermont .project__details__col {
  background-color: var(--color--vermont);
  color: #fff;
}

.project--vermont .project__details__col:nth-of-type(2) {
  background-color: var(--color--vermont-darker);
}

/**
 * **********************************
 * Utilities
 * **********************************
 */
.u-margin--0 {
  margin: 0 !important;
}

.u-margin-bottom--10 {
  margin-bottom: var(--gutter--large) !important;
}

.u-margin-top--10 {
  margin-top: var(--gutter--large) !important;
}

.u-margin-y--10 {
  margin-bottom: var(--gutter--large) !important;
  margin-top: var(--gutter--large) !important;
}

.u-text-align--center {
  text-align: center !important;
}
